*.iml
*/target/*
**/bin/**
**/.classpath
*/.idea/*
.idea/
/.project
*.project
*.DS_Store
deployment/database/pgdata
*.pydevproject
/data_load/common/bin
/data_load/main/bin
/data_load/google/bin
/data_load/singular/bin
/data_load/kafka/bin
/data_load/facebook/bin
/data_load/appsflyer/bin
data_processor/\.classpath

data_processor/\.settings/org\.eclipse\.core\.resources\.prefs

data_processor/\.settings/org\.eclipse\.jdt\.core\.prefs

data_processor/\.settings/org\.eclipse\.m2e\.core\.prefs

admin/alerts/\.factorypath

admin/auth/\.factorypath

admin/changelog/\.factorypath

admin/changelog/\.settings/org\.eclipse\.jdt\.apt\.core\.prefs

admin/mailer/\.factorypath

admin/monitoring/\.factorypath

analytics/\.factorypath

common/\.factorypath

common/\.settings/org\.eclipse\.jdt\.apt\.core\.prefs

data_load/appsflyer/\.factorypath

data_load/common/\.factorypath

data_load/common/\.settings/org\.eclipse\.jdt\.core\.prefs

data_load/data_load_infra/\.factorypath

data_load/facebook/\.factorypath

data_load/google/\.factorypath

data_load/main/\.factorypath

data_load/media/\.factorypath

data_load/singular/\.factorypath

data_processor/\.factorypath

data_processor/\.settings/org\.eclipse\.jdt\.apt\.core\.prefs

data_synchronizer/\.factorypath

platform/dashboard/\.factorypath

platform/link_creator/\.factorypath

platform/loki/\.factorypath

platform/negan/\.factorypath

platform/platform_common/\.factorypath

platform/platform_main/\.factorypath

platform/reporting/\.factorypath

*.prefs
.metadata/.plugins/org.eclipse.core.resources/.history/38/8042fe6f1cb8001910a4ffa136a4c34c
.metadata/.plugins/org.eclipse.core.resources/.history/46/c032e36525b8001910a4ffa136a4c34c
.metadata/.plugins/org.eclipse.core.resources/.history/5b/a0170d6825b8001910a4ffa136a4c34c
.metadata/.plugins/org.eclipse.core.resources/.history/c6/40d94f5f25b8001910a4ffa136a4c34c
.metadata/.plugins/org.eclipse.core.resources/.projects/dashboard/.indexes/e4/b9/22/81/f/73/6c/61/1d/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/platform/.indexes/5/e4/b9/db/properties.index
.metadata/.plugins/org.eclipse.egit.ui/egit10093939053826725217/bdcc02b_DashboardService.java
.metadata/.plugins/org.eclipse.egit.ui/egit10104077419708423077/321ba7b_DashboardController.java
.metadata/.plugins/org.eclipse.egit.ui/egit10275608192732841676/321ba7b_DashboardController.java
.metadata/.plugins/org.eclipse.egit.ui/egit11226819002414348629/321ba7b_UserDashboard.java
.metadata/.plugins/org.eclipse.egit.ui/egit11409011743502069647/bdcc02b_UserDashboard.java
.metadata/.plugins/org.eclipse.egit.ui/egit11589949671216067596/321ba7b_DashboardController.java
.metadata/.plugins/org.eclipse.egit.ui/egit11784234719531453542/321ba7b_DashboardController.java
.metadata/.plugins/org.eclipse.egit.ui/egit13632206104823429826/321ba7b_UserDashboard.java
.metadata/.plugins/org.eclipse.egit.ui/egit13783624019311116644/321ba7b_DashboardController.java
.metadata/.plugins/org.eclipse.egit.ui/egit15032737975238435546/bdcc02b_DashboardService.java
.metadata/.plugins/org.eclipse.egit.ui/egit15257964214814853939/321ba7b_UserDashboard.java
.metadata/.plugins/org.eclipse.egit.ui/egit16264288734657449453/321ba7b_DashboardController.java
.metadata/.plugins/org.eclipse.egit.ui/egit16885002601970761555/321ba7b_UserDashboard.java
.metadata/.plugins/org.eclipse.egit.ui/egit17445449183551514267/321ba7b_UserDashboard.java
.metadata/.plugins/org.eclipse.egit.ui/egit17574735346898388687/321ba7b_UserDashboard.java
.metadata/.plugins/org.eclipse.egit.ui/egit17844584318866295617/bdcc02b_DashboardService.java
.metadata/.plugins/org.eclipse.egit.ui/egit18302341164658007166/321ba7b_DashboardController.java
.metadata/.plugins/org.eclipse.egit.ui/egit1938152260309831317/bdcc02b_UserDashboard.java
.metadata/.plugins/org.eclipse.egit.ui/egit2581715883638042206/321ba7b_DashboardController.java
.metadata/.plugins/org.eclipse.egit.ui/egit2774680534950940684/321ba7b_UserDashboard.java
.metadata/.plugins/org.eclipse.egit.ui/egit3976176073970003683/bdcc02b_UserDashboard.java
.metadata/.plugins/org.eclipse.egit.ui/egit4238443519544124331/bdcc02b_DashboardService.java
.metadata/.plugins/org.eclipse.egit.ui/egit4752788805971911848/bdcc02b_UserDashboard.java
.metadata/.plugins/org.eclipse.egit.ui/egit9758087279263424669/321ba7b_UserDashboard.java
*/**/target/**
